doctype html
html
	head
		meta(charset='utf-8')
		style(type="text/css") !{compiledStyle}

	body
		div(class="content")
			div(class="logo")
				img(src=logo, alt="VKAZU-logo")
			div(class="greeting")
				h1 Hallo #{member.firstname}
			div(class="info")
				p Anbei senden wir dir die definitve Abrechnung der aktuellen Einsatzperiode. 
				p Die Entsch채digung wird in den n채chsten Tagen auf deinem Konto eintreffen.

				p Bitte pr체fe die Abrechnung auf Abweichungen, und melde uns diese innerhalb der n채chsten Tage per E-Mail (info@vkazu.ch).
				p Die Auflistung findest du auch als PDF im Anhang.
			div(class="compensations")
				table
					thead
						tr
							th Datum
							th Beschreibung
							th Betrag
					tbody
						each compensation in compensations
							tr
								td #{`00${compensation.date.getDate()}`.slice(-2)}.#{`00${compensation.date.getMonth() + 1}`.slice(-2)}.#{compensation.date.getFullYear()}
								if compensation.from && compensation.until
									td #{compensation.description} (#{compensation.from.getHours()}:#{compensation.from.getMinutes()} - #{compensation.until.getHours()}:#{compensation.until.getMinutes()})
								else
									td #{compensation.description}
								td CHF #{compensation.amount.toFixed(2)}
						tr(class="total")
							td Total
							td
							td CHF #{total.toFixed(2)}

