extends layout.pug

block header
    style(type="text/css") !{compiledStyle}
    link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css') 

block content
    div(style={float: 'right'})
            p #{location}, #{date}
    h2 Materialqutittung
    
    div(class="header")
        div(class="out")
            p(class="bold") Von
            p #{changelog.outContact ? `${changelog.outContact.firstname} ${changelog.outContact.lastname}` : changelog.outWarehouse.name}
        div(class="arrow")
            i(class="fa fa-long-arrow-alt-right fa-2x" aria-hidden="true")
        div(class="in")
            p(class="bold") Zu
                p #{changelog.inContact ? `${changelog.inContact.firstname} ${changelog.inContact.lastname}` : changelog.inWarehouse.name}
    br
    table
        thead
            th Produkt
            th Anzahl
            th Nummer
            th Verrechnet
        tbody
            each change in changelog.changes
                tr
                    td #{change.product.internName}
                    td #{change.amount}
                    td #{change.number}
                    td #{change.charge ? 'Ja': 'Nein'}
    br
    br
    p(class="bold") Erfasst von
    p #{changelog.creator.displayName}
    
    dev(id="signature")
        if changelog.inContact
            p #{`${changelog.inContact.firstname} ${changelog.inContact.lastname}`}
        else if changelog.outContact
            p #{`${changelog.outContact.firstname} ${changelog.outContact.lastname}`}

        if changelog.inContact || changelog.outContact
            img(src=changelog.signature)