extends layout.pug

block header
    style(type="text/css") !{compiledStyle}

block content
    div(style={float: 'right'})
        p #{location}, #{date}
    h2 Auszahlung Verkehrskadetten-Entsch채digung
    br
    h3 Soldperiode #{from} bis #{until}
    br

    div(class="header")
        div(class="bankingInformation")
            p(class="bold") Bankinformationen
            p #{member.bankName}
            p #{member.iban}
            p #{member.accountHolder}
        div(class="address")
            p(class="bold") #{member.firstname} #{member.lastname}
            p #{member.address}
            p #{member.postcode} #{member.city}
        
    table
        thead
            tr
                th Datum
                th Beschreibung
                th Betrag
        tbody
            each compensation in compensations
                tr
                    td #{`00${compensation.date.getDate()}`.slice(-2)}.#{`00${compensation.date.getMonth() + 1}`.slice(-2)}.#{compensation.date.getFullYear()}
                    if compensation.from && compensation.until
                        td #{compensation.description} (#{compensation.from.getHours()}:#{compensation.from.getMinutes()} - #{compensation.until.getHours()}:#{compensation.until.getMinutes()})
                    else
                        td #{compensation.description}
                    td CHF #{compensation.amount.toFixed(2)}

        tr(class="total")
            td Total
            td
            td CHF #{total.toFixed(2)}

    br
    br
    p(class="info-text") Bitte pr체fe die Liste auf Fehler und melde allf채llige Abweichungen in den n채chstn 7 Tage per E-Mail an #[a(href="mailto:info@vkazu.ch") info@vkazu.ch].
        