extends layout.pug

block header
    style(type="text/css") !{compiledStyle}


block content
    div(style={float: 'right'})
        p #{location}, #{date}
    h2 Abrechnung Verkehrskadetten-Entschädigungen
    br
    h3 Entschädigungsperiode #{from} bis #{until}
    br
    table
        thead
            tr
                th Name
                th Betrag
        tbody
            each member in members
                tr
                    td(class="nowrap") #{member.lastname} #{member.firstname}
                    td(class="nowrap") #{member.amount.toFixed(2)} CHF

    div(id="signatures")
        div(id="signature-president")
            p #{presidentName}
            p(class="description") Präsident
            div(class="signature")
        div(id="signature-cashier")
            p #{cashierName}
            p(class="description") Kassier
            div(class="signature")
