extends layout.pug

block header
    style(type="text/css") !{compiledStyle}

block content
    div(style={float: 'right'})
        p #{location}, #{date}
    h2 Lagerreport für #{warehouse.name}
    br
    table
        thead
            tr
                th Produkt
                th Anzahl
        tbody
            each entry in stock
                tr
                    td #{entry.productName}
                    td #{entry.amount}
